<h1>Stupid coaching</h1>
<div class="bd-callout">
  <p><%=@question%></p>
  <p class="fst-italic">-You</p>
</div>

<div class="bd-callout coach">
<p class="fw-bolder"><%=@answer%></p>
<p class="fst-italic">-Your Coach</p>
</div>

<%= link_to "Ask another stupid question", ask_path %>
